/* ---------------------------------------- Imports ------ */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Serif', serif;
  scroll-behavior: smooth;
}

hr {
  width: 100px;
  height: 1px;
  background-color: #05d5ff;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

a {
  text-decoration: none;
  display: block;
}

p {
  line-height: 1.5;
}

.fas,
.far {
  font-size: 2rem;
  color: #3ab66d;
}

.error {
  border: 3px solid rgb(255, 125, 4) !important;
}

.error-message {
  width: 100%;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  height: 0;
  display: none;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/* ----------------------------------------- Hero Section ----- */
header {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-container {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 70px;
}

.nav-container {
  cursor: pointer;
}

.nav-icon i {
  color: #fff;
  font-size: 2.25rem;
}

.nav-icon span {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  transform: rotate(90deg);
  display: inline-block;
  font-size: 0.65rem;
  margin: 0;
  position: absolute;
  top: 12px;
  right: 5px;
}

.nav {
  position: fixed;
  height: 200px;
  width: 0;
  overflow: hidden;
  background-color: #fff;
  z-index: 200;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.2);
}

.nav-open {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 10px 0;
  align-self: center;
}

.nav-item a {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025rem;
  color: #000;
  justify-self: center;
  text-transform: uppercase;
  margin: 10px 0;
}

.nav-item,
.close {
  list-style: none;
  align-self: center;
}

.close {
  font-size: 1.5rem;
}

.close:hover {
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

#hero-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    rgb(85, 51, 255) 15%,
    rgb(5, 213, 255) 70%,
    rgb(166, 255, 203) 94%
  );
}

.hero-heading {
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
}

.hero-subheading {
  font-size: 1rem;
  margin-bottom: 60px;
  color: #fff;
}

.search-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input-container {
  position: relative;
  width: 100%;
}

#spinner {
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  font-size: 1rem;
  animation: spinner 0.5s infinite linear;
  display: none;
}

.search-bar {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.search-bar:focus {
  outline: none;
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  flex: 1;
  margin: 10px auto;
  width: 150px;
  padding: 15px 0;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.025rem;
}

.btn:hover {
  transform: translateY(-1px);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-random-recipe {
  background-color: #fff;
  color: #000;
  order: 3;
}

.btn-search-recipe {
  background-color: rgb(166, 255, 203);
  color: #000;
  margin-top: 20px;
}

/* ---------------------------------------- Trending Section ------- */

.trending-recipes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  max-width: 500px;
}

.trending-recipe {
  margin: 40px auto 20px;
  height: 600px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 4px 4px 10px 4px rgba(85, 85, 85, 0.2);
  padding-bottom: 30px;
}

.trending-content {
  flex: 1;
  height: 100%;
  padding: 20px;
}

.trending-summary {
  margin: 10px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trending-recipe-img {
  flex: 1;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.trending-link {
  font-family: 'Montserrat';
  font-size: 1.25rem;
  margin-top: 20px;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  flex: 1;
  color: #3ab86f;
}

.trending-link:hover {
  text-decoration: underline;
}

.sum {
  height: 150px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  color: #000;
  margin-top: 20px;
  padding: 10px;
}

/* ---------------------------------------- Top Recipes Section ------- */
.loading-container {
  width: 50%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
}

#spinner-content {
  animation: spinner 0.5s infinite;
}

.loading {
  margin-top: 10px;
}

.top-recipes-container {
  width: 90%;
  margin: 60px auto 300px;
}

#showing-results-heading {
  display: none;
}

.top-recipes-header {
  font-size: 1.75rem;
  margin: 20px auto 0;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #737373;
  border-bottom: 4px solid #05d5ff;
  width: 300px;
  text-align: center;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 60px 0;
  width: 100%;
  box-shadow: 4px 4px 10px 4px rgba(85, 85, 85, 0.2);
}

.save-btn-container {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}

.heart-btn {
  color: #ff2f2f;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1rem;
  background-color: #ececec;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.heart-btn:hover {
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.img {
  width: 100%;
  height: 300px;
  background-color: #a6ffcb;
  background-image: url('./images/spinach-chicken-pomegranate-salad-5938.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.recipe-details {
  padding: 10px;
  background-color: #f6f9fc;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .recipe-card-heading {
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 2px solid #05d5ff;
  padding-bottom: 4px;
  margin-bottom: 10px;
  letter-spacing: 0.025rem;
}

.recipe-card-cook-time {
  color: gray;
  margin-bottom: 10px;
} */

.recipe-card-description {
  margin-top: 10px;
  padding: 5px;
}

.recipe-card-view-recipe {
  color: #000;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.025rem;
  font-family: 'Montserrat', sans-serif;
}

.recipe-card:hover .recipe-card-view-recipe {
  text-decoration: underline;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

/* ---------------------------------------- Full Recipe Cards ------- */

.recipe-card-list {
  width: 100%;
}

.recipe-inner-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.full-recipes {
  width: 100%;
}

.full-recipe-container {
  border-radius: 10px;
  width: 100%;
  transition: all 0.8s ease-in-out;
  border: 3px solid #f6f9fc;
}

.banner-img {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.full-recipe-header {
  padding: 10px;
}

.ingredient-list,
.instruction-list {
  padding: 10px;
}

.ingredient-list h4,
.instruction-list h4,
.nutrition-heading {
  font-size: 1.5rem;
  color: #3ab86f;
  letter-spacing: 0.025rem;
}

.nutrition-heading {
  padding-left: 10px;
}

.ingredient-list li {
  line-height: 1.5;
  text-transform: capitalize;
  margin: 10px 0 10px 40px;
}

.instruction-list li {
  line-height: 1.5;
  margin: 20px 0 10px 40px;
}

.recipe-summary a {
  display: inline;
  line-height: 1.5;
}

.back-btn {
  background-color: #a6ffcb;
  margin-bottom: 20px;
}

.full-recipe-title {
  margin: 20px 0;
}

.full-recipe-heading {
  color: #05d5ff;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.025rem;
}

.full-recipe-title p {
  color: #737373;
  font-size: 0.85rem;
}

.summary-heading {
  color: #3ab86f;
  font-size: 1.5rem;
  letter-spacing: 0.025rem;
  margin-bottom: 10px;
}

.prep-icon-container {
  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.prep-icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #a6ffcb;
  padding: 30px;
  position: relative;
  margin-right: 20px;
}

.prep-icon .far,
.prep-icon .fas {
  font-size: 2.25rem;
  text-align: center;
  width: 100%;
}

.prep-icon span {
  width: 100%;
  font-size: 0.85rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, -200%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #3ab86f;
}

#donutchart {
  margin: 0 auto 20px;
  width: 100%;
  min-height: 250px;
}

/* ---------------------------------------- Fun Facts Section ------- */
.trivia-container {
  width: 100%;
  height: 100%;
  background-color: #f6f9fc;
  position: relative;
  display: flex;
}

.trivia-container:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f9fc;
  transform: skewY(-12deg);
  transform-origin: 0;
  z-index: -2;
  overflow: hidden;
}

.fun-facts-heading {
  font-size: 1.75rem;
  margin: 20px auto 0;
  text-transform: uppercase;
  letter-spacing: 0.025rem;
  color: #737373;
  border-bottom: 4px solid #05d5ff;
  width: 300px;
  text-align: center;
}

.fun-facts {
  width: 80%;
  margin: 60px auto;
}

.fact {
  padding: 60px 0;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #3ab86f;
  text-align: center;
}

/* ---------------------------------------- About Section ------- */
.about-container {
  width: 90%;
  height: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}

.about-us {
  display: flex;
  flex-direction: column;
}

.access-information,
.other-information {
  padding: 30px 20px;
  border-bottom: 2px solid #f6f9fc;
}

.access-information {
  margin-top: 40px;
  padding-bottom: 60px;
}

.about-heading {
  color: #3ab86f;
  margin: 10px;
  padding: 10px;
  letter-spacing: 0.025rem;
}

.about {
  line-height: 1.5;
  padding: 10px;
  margin: 10px;
}

.about-icon {
  background-color: #a6ffcb;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  text-align: center;
  line-height: 65px !important;
  margin-left: 20px;
}

.about-link {
  color: #05d5ff;
  margin-left: 20px;
  font-size: 1.125rem;
  border-bottom: 2px solid #05d5ff;
  width: 163px;
  padding-bottom: 3px;
}

.about-link .fas {
  color: #05d5ff;
  font-size: 0.85rem;
}

.learn-link {
  width: 181px;
}
/* ---------------------------------------- Social Section------- */
.social {
  width: 80%;
  margin: 60px auto;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fab {
  color: #000;
  font-size: 2.5rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.fab:hover {
  transform: translateY(-3px);
}
/* ---------------------------------------- Footer Section ------- */
footer {
  height: 400px;
  width: 100%;
  background-color: #f6f9fc;
  padding: 20px;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-logo-container {
  width: 100%;
  text-align: center;
}

.footer-menu-container {
  width: 100%;
  text-align: center;
}

.nav-list-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list-footer .nav-item {
  margin-top: 10px;
}

.nav-list-footer .nav-item .nav-link {
  color: #000;
  font-family: 'PT Serif', serif;
}

.nav-list-footer .nav-item .nav-link:hover {
  text-decoration: underline;
}

.footer-social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.footer-social-container a .fab {
  font-size: 1rem;
  background-color: #a6ffcb;
  color: #3ab86f;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
}

.footer-h4 {
  width: 100%;
  color: #3ab86f;
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

/* ---------------------------------------- Saved Recipes ------- */
.saved-header {
  height: 50vh;
}

.saved-recipes-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.saved-recipes-container {
  margin-bottom: 60px;
}

.saved-recipes-heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.025rem;
}

#saved-recipe-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    rgb(25, 212, 103) 15%,
    rgb(138, 245, 174) 70%,
    rgb(166, 255, 203) 94%
  );
}

.saved-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
}

/* ---------------------------------------- Submit Recipes ------- */

.submit-recipes-hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

#submit-recipe-container {
  margin-bottom: 60px;
  position: relative;
  height: 80vh;
}

.submit-recipes-heading {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.025rem;
}

#submit-recipe-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-image: linear-gradient(
    150deg,
    rgb(255, 163, 25) 15%,
    rgb(255, 204, 110) 70%,
    rgb(255, 204, 170) 94%
  );
}

#submit-header {
  height: 50vh;
}

.submit-recipe-form-container {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: 0;
  left: 0;
  transform: translate(5%, -30%);
  background-color: #fff;
  padding: 50px;
  box-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.submit-recipe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.submit-recipe-form h2 {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.submit-recipe-form span {
  text-align: center;
}

.form-error,
.form-success {
  display: none;
}

.form-response {
  display: block;
}

.form-error {
  color: #ff2f2f;
}

.submit-recipe-form input,
.submit-recipe-form textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  max-width: 100%;
  min-width: 250px;
}

.submit-recipe-form textarea {
  min-height: 120px;
  max-height: 200px;
}

#submit-recipe {
  padding: 10px 20px;
  max-width: 200px;
  background-color: #a6ffcb;
  transition: none;
  align-self: center;
}

.form-img {
  display: none;
}

#clear-recipe {
  background-color: rgb(236, 0, 0);
  color: #fff;
  max-width: 250px;
  align-self: center;
}

.form-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.throttled-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #f6f9fc;
}

.throttled-content h1 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.throttled-content {
  align-self: center;
  width: 50%;
}

.throttled-content p {
  margin-top: 10px;
  font-family: 'PT Serif', serif;
}

.donate-button {
  background-color: #a6ffcb;
  display: block;
  text-align: center;
  color: #000;
  font-size: 0.85rem;
}
/* ---------------------------------------- Media Query ------- */

@media (min-width: 768px) {
  #hero-background {
    transform: skewY(-6deg);
  }

  .nav {
    height: 60px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
    align-self: center;
  }

  .nav-item a {
    margin: 0;
  }

  .search-container {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .btn {
    margin: 20px 10px 0 0;
    max-width: 150px;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .hero-subheading {
    font-size: 1.5rem;
  }

  /* ---------------------------------------- Trending Section ------- */

  .trending-recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1250px;
  }

  .trending-recipe-img {
    height: 300px;
  }

  .trending-recipe-container-lg {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 1200px;
    align-content: center;
  }

  .trending-recipe-container-sm {
    flex: 1 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 550px;
    margin: 20px 10px;
    height: 600px;
  }

  .trending-summary {
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  /* ---------------------------------------- Top Recipes Section ------- */
  .top-recipes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin-bottom: 300px;
  }

  .top-recipes-header {
    margin: 20px 0 0;
    text-align: left;
    width: 100%;
    font-size: 2.5rem;
  }

  .recipe-card {
    min-width: 300px;
    max-width: 400px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .recipe-details {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .recipe-card-heading {
    text-transform: uppercase;
    font-size: 1.5rem;
    border-bottom: 2px solid #05d5ff;
    padding-bottom: 4px;
    margin-bottom: 10px;
    letter-spacing: 0.025rem;
    padding-top: 10px;
  }

  .recipe-card-cook-time {
    color: gray;
    margin-bottom: 10px;
  }

  .recipe-card-description {
    margin-top: 10px;
    padding: 5px;
  }

  .recipe-card-view-recipe {
    color: #000;
    margin: 10px auto;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
  }

  /* ---------------------------------------- Fun Facts Section ------- */
  .trivia-container:before {
    transform: skewY(-6deg);
  }

  .fun-facts {
    width: 80%;
    margin: 60px auto;
  }

  .fun-facts-heading {
    margin: 20px 0 0;
    text-align: left;
    width: 100%;
    font-size: 2.5rem;
  }

  .fact {
    padding: 60px 0;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #3ab86f;
    text-align: center;
  }

  /* ---------------------------------------- About Section ------- */
  .about-container {
    width: 100%;
    margin-top: 0;
  }

  .about-us {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border-bottom: 2px solid #f6f9fc;
    margin-bottom: 40px;
  }

  .access-information,
  .other-information {
    padding: 30px 20px;
    flex: 1;
  }

  .access-information {
    border-right: 2px solid #f6f9fc;
    padding-bottom: 60px;
    margin-top: 0;
    margin-left: 5%;
    border-bottom: none;
  }

  .other-information {
    margin-right: 5%;
    border-bottom: none;
  }

  /* ------------------------------------------- Full Recipe Section ------ */
  .full-recipe-header {
    padding: 30px;
  }

  .full-recipe-container {
    padding: 20px;
  }

  .banner-img {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .ingredient-list,
  .instruction-list {
    padding: 30px;
  }

  .instruction-list li {
    margin: 20px 0 10px 40px;
  }

  .nutrition-heading {
    padding-left: 30px;
  }

  /* ------------------------------------------- Footer ------ */
  footer {
    height: 100%;
    padding: 60px 20px;
  }

  .footer-container {
    width: 80%;
    flex-direction: row;
  }

  .footer-logo-container {
    flex: 1;
    align-self: center;
  }

  .footer-menu-container {
    flex: 1;
  }

  .footer-social-container {
    flex: 1;
  }

  .footer-social-container .footer-h4 {
    margin-bottom: 10px;
  }

  #saved-recipe-background {
    transform: skewY(-6deg);
  }

  #submit-recipe-background {
    transform: skewY(-6deg);
  }

  #submit-recipe-container {
    min-height: 40vh;
  }

  .submit-recipe-form-container {
    width: 80%;
    transform: translate(10%, -50%);
    height: 80vh;
  }

  .submit-recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 10px;
  }
  .submit-recipe-form h2 {
    text-align: left;
    font-size: 1.5rem;
  }
  .submit-recipe-form span {
    text-align: left;
  }

  .submit-recipe-form input,
  .submit-recipe-form textarea {
    max-width: 650px;
  }

  #submit-recipe {
    padding: 10px 20px;
    width: 200px;
    background-color: #a6ffcb;
    transition: none;
    align-self: flex-start;
  }

  #clear-recipe {
    width: 200px;
    margin-left: 20px;
    padding: 10px 20px;
    transition: none;
    align-self: flex-start;
  }

  .form-img {
    display: block;
    flex: 1;
    background-image: url('../assets/images/undraw_cooking_lyxy.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
  }

  .form-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* ------------------------------------------------------ Animations --------- */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
